.picture{
    text-align: center;
}
.picture img {
    height: 100px;
}
.space{
    height: 50px;
}
.prvit{
font-weight: bold;
font-size: 40px;
}
.paragraf {
 width: 40%; 
 height:128px;
  margin-left: 60%;
   color:rgb(49, 45, 45); 
   font-size: 17px;"
}
.bold-text {
    font-weight: bold;
    font-size: 20px;
}
.small-text {
    font-size: 15px;
    font-weight: normal;
}
 table ,tr ,td {
    border: 0.5px black solid;
    border-spacing: 0;
}
p {
    margin: 1px;
}
hr {
    float: left;
}
.no-border tr td , .no-border{
    border: 0;
}
h1 {
margin: 5px;
}
